<div *ngIf="doAllImages">
  <h1 style="color: red">DOING ALL IMAGES</h1>
  <h2 style="color: orange">Chagne to false</h2>
</div>
<div class="flex flex-col">
  <div class="w-full">
    <hr />
    <div class="flex flex-col">
      <div class="w-full mx-auto my-4 justify-center"></div>
    </div>
  </div>
  <table class="min-w-full divide-y divide-gray-200 mt-4">
    <thead class="bg-gray-50">
      <tr>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Time
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-yellow-500 uppercase tracking-wider"
        >
          Original_text
        </th>

        <th
          class="px-6 py-3 text-left text-xs font-medium text-yellow-500 uppercase tracking-wider"
        >
          Image in pic
        </th>

        <th
          class="px-6 py-3 text-left text-xs font-medium text-yellow-700 uppercase tracking-wider"
        >
          Prompt
        </th>
        <th
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Copy
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <ng-container *ngIf="scenes$ | async as scenes">
        <tr *ngFor="let scene of scenes">
          <td class="px-6 py-4 whitespace-nowrap">{{ scene.time }}</td>
          <div *ngIf="scene.original_text">
            <td class="px-6 py-4 whitespace-nowrap">
              <textarea style="min-width: 300px">{{
                scene.original_text
              }}</textarea>
              <b
                >{{ scene.original_text.length }} ca.
                {{ 0.066 * scene.original_text.length }} sec for Charles II</b
              >
              <br />
              <b
                >{{ scene.original_text.length }} ca.
                {{ 0.06006 * scene.original_text.length }} sec for Sara</b
              >
              <!-- | slice : 0 : 5  -->
            </td>
          </div>
          <div *ngIf="!scene.original_text">
            <td class="px-6 py-4 whitespace-nowrap">No original text</td>
          </div>
          <td>
            <img
              *ngIf="scene.time"
              [src]="'http://localhost:3000/Pics/' + scene.time + '.png'"
              alt="Image for {{ scene.time }}"
            />
          </td>

          <td class="px-6 py-4 whitespace-nowrap">
            <textarea name="" id="" cols="30" rows="10">{{
              scene.prompt
            }}</textarea>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <!-- <img
              [src]="scene.prompt.split('--v')[0]"
              alt="Scene Image"
              class="w-16 h-16 object-cover"
            /> -->
            <button
              (click)="copyPrompt(scene.prompt)"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            >
              {{ scene.prompt | slice : 0 : 5 }}
            </button>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <input
              style="width: 50px; height: 50px"
              type="checkbox"
              [(ngModel)]="scene.selected"
              (change)="updateSelectedScenes()"
            />
          </td>
          <td>
            <!-- <button
              type="button"
              class="btn btn-primary mt-2"
              class="btn-generate"
              (click)="generateGptPrompt(scene)"
            >
              Generate Gpt Prompt
            </button> -->
            <br /><br />
            <p *ngIf="countdown > 0">Countdown: {{ countdown }} seconds</p>
            <p *ngIf="countdown === 0">Generating Image...</p>

            <button
              type="button"
              style="color: white"
              class="btn btn-secondary mt-2"
              class="btn-generate"
              (click)="generateGptImage(scene)"
            >
              Generate DALLE img
            </button>
            <!-- <br />
            <br />
            <br />
            <button
              style="color: black"
              class="btn-generate-five"
              (click)="generateImagesForScenes()"
            >
              Generate 5 images
            </button> -->
            <br />
            <br />
            <br />
            <!-- <b *ngIf="leoCountdown > 0"
              >Countdown: {{ leoCountdown }} seconds</b
            >
            <br /> -->
            <button
              style="color: greenblack"
              class="btn-generate-leo"
              (click)="makeLeoAiImage(scene)"
            >
              Generate Leo Ai Image
            </button>
            <br />
            <br />
            <!-- <button
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
              (click)="onSaveClick()"
            >
              Save Scenes
            </button> -->
          </td>
          <td></td>
          <!-- <td>
            <img
              *ngIf="scene.imageUrl"
              [src]="scene.imageUrl"
              alt="Generated Image for {{ scene.prompt }}"
            />
          </td> -->

          <td>
            <img
              *ngIf="scene.imageUrl"
              [src]="scene.imageUrl"
              alt="Generated Image for {{ scene.prompt }}"
              (click)="downloadImage(scene.imageUrl, '{{scene.time}}.jpg')"
              style="cursor: pointer"
            />
          </td>

          <!-- <td>
            <textarea>
              {{ scene.gptPrompt }}
            </textarea>
            <br />
            <br />
            <button
              *ngIf="scene.gptPrompt"
              (click)="copyPrompt(scene.gptPrompt)"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            >
              {{ scene.prompt | slice : 0 : 5 }}
            </button>
          </td> -->
        </tr>
      </ng-container>
    </tbody>
  </table>
  <br />
  <button style="color: orange" (click)="printScenesToConsole()">
    Print all scenes
  </button>
  <br />
  <ng-container *ngIf="scenes$ | async as scenes">
    <button
      type="button"
      class="cool-btn"
      (click)="generateAllDalle3Images(scenes)"
    >
      Generate ALL Dalle3 img's
    </button>
  </ng-container>

  <ng-container *ngIf="picsLengthArray.length > 0">
    <ng-container *ngFor="let item of picsLengthArray">
      {{ item }},
    </ng-container>
  </ng-container>
</div>
